



.item{
    background-color: #F7F8F8;
    border-radius: 12px;
    
  
    padding: 10px 5px;
}
.item-fixed{
    background-color: transparent;
}
.item-b{

    padding: 10px 5px; 
}


.common-color{


    background-color: #1dd100;
    color: white;
}

.inter{





  font-family: "Inter", sans-serif;
 

  
}
.raleway{


    font-family: "Raleway", sans-serif;
}


.append p{

    color: #030712;
}

.item-b{


}

.short{

    color: #4A4A4A;
    

font-weight: 300;

}



