
/* .banner{
 background-image: url('/images/banner.png');
 background-size: 100% 100%;
 background-repeat: no-repeat;
 width: 1171px;
 height: 550px;
} */
.grid-container{

}

.item{
    background-color: #F7F8F8;
    border-radius: 12px;
    
    /* width: 100px; */
    padding: 10px 5px;
}
.item-fixed{
    background-color: transparent;
}



.common-color{


    background-color: #1dd100;
    color: white;
}